<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Me</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="main-container" class="container-fluid">
      <div class="main_row row">
        <%= image_tag "banner.jpg", id: 'banner', class: "img-responsive" %>
      </div>
      <div id="intro" class ="main_row row center-text">
        <span>Hi, I'm John and I know …</span>
      </div>
      <div id='vote_row' class="main-row row">
        <div class = "col-md-3"></div>
        <div id="voting" class="col-md-1">
          <div id="voting_icon" class="center-text" style="display: none;">
            <div class="row">
              <span class="glyphicon glyphicon-chevron-up chev up" aria-hidden="true"></span>
            </div>
            <div class="count-container row">
              <% @attributes.each do |a| %>
                <%= div_for(a, class: "count") do %>
                  <%= a.net_votes %>
                <% end %>
              <% end %>
            </div>
            <div class="row">
              <span class="glyphicon glyphicon-chevron-down chev down" aria-hidden="true"></span>
            </div>
          </div>
          <div id="voting_sign" class="center-text"></div>
        </div>
        <div class="col-md-4">
          <div id="typed" class="center-text">
            <span class="attribute_name"></span>
          </div>
          <div id="suggest">
            <%= form_for(@attribute, remote: true) do |f| %>
              <div class="input-group">
                <span class="input-group-btn">
                <%= f.submit :suggest, class: "btn btn-default" %>
                </span>
                <%= f.text_field :name, placeholder: @attributes.sample.try(:name), class: "form-control" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row social center-text">
        <ul>
          <li><a href="https://www.facebook.com/john.zahka"><i class="fa fa-lg fa-facebook"></i></a></li>
          <li><a href="https://github.com/jzahka"><i class="fa fa-lg fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/pub/john-zahka/3a/26/821"><i class="fa fa-lg fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="image row">
        <%= image_tag "logo.svg", id: 'logo', class: "img-responsive" %>
      </div>
    </div>
  </body>
</html>

<% content_for :document_ready do %>
    Attributes.init(<%= @attributes.map(&:name).to_json.html_safe %>);
<% end %>
