<!DOCTYPE html>
<html>
<head>
  <title>Me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield :javascripts %>
<%= javascript_tag do %>
$(document).ready(function() {
  <%= yield :document_ready %>
});
<% end %>
<%= yield %>

</body>
</html>
